{% extends "base.html" %}
{% block content %}
<h2>Sign in</h2>
<form id="loginForm" onsubmit="return false;">
  <p><input id="email" type="email" placeholder="Email" required></p>
  <p><input id="password" type="password" placeholder="Password" required></p>
  <button class="button" id="loginBtn">Sign in</button>
</form>
<p class="muted">No account? <a href="{{ url_for('auth.signup_page') }}">Sign up</a></p>

<script src="https://www.gstatic.com/firebasejs/10.12.3/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.12.3/firebase-auth-compat.js"></script>
<script>
  const firebaseConfig = {
    apiKey: "{{ fb_api_key }}",
    authDomain: "{{ fb_auth_domain }}",
    projectId: "{{ fb_project_id }}",
    appId: "{{ fb_app_id }}",
    messagingSenderId: "{{ fb_sender_id }}"
  };
  if (!firebase.apps.length) {
  firebase.initializeApp(firebaseConfig);
  }

  const auth = firebase.auth();

  document.getElementById("loginBtn").addEventListener("click", async () => {
    event.preventDefault();
    const email = document.getElementById("email").value.trim();
    const password = document.getElementById("password").value;
    try {
      const cred = await auth.signInWithEmailAndPassword(email, password);
      const idToken = await cred.user.getIdToken();
      console.log("idToken:", idToken); 
      const res = await fetch("/auth/session", {
        method: "POST",
        headers: {"Content-Type":"application/json"},
        body: JSON.stringify({ idToken })
      });
      if (!res.ok) throw new Error("Server session failed");
      window.location.href = "{{ url_for('web.home') }}";
    } catch (e) {
      alert("Login failed: " + e.message);
    }
  });
</script>
{% endblock %}
